name: Run python-oracledb tests

on:

  push:
    branches:
      - main
      - cicdtest
    paths:
      - 'src'
      - 'tests'
      - 'pyproject.toml'
      - '.github/workflows/tests.yaml'
  workflow_dispatch:

jobs:

  dpy_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest ]
        python-version: ['3.12']

    services:
      oracle_db:
        image: container-registry.oracle.com/database/free:latest
        env:
          ORACLE_PWD: ${{ secrets.DPY_ORACLE_PASSWORD }}
        options: --name oracle_db
        ports:
          - 1521:1521

    steps:
      - name: Check out python-oracledb repository code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Oracle Instant Client
        run: |
          chmod +x ${{ github.workspace }}/.github/scripts/install_oracle_instantclient.sh
          ${{ github.workspace }}/.github/scripts/install_oracle_instantclient.sh
          echo "OIC_DIR=$(echo /opt/oracle/instantclient*)" >> $GITHUB_ENV

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[test]"

      - name: Run tests
        run: |
          python -m pytest tests/create_schema.py
          python -m pytest
          python -m pytest tests/create_schema.py
          python -m pytest --use-thick-mode

        env:
          PYO_TEST_MAIN_USER: pythontest
          PYO_TEST_MAIN_PASSWORD: ${{ secrets.DPY_ORACLE_PASSWORD }}
          PYO_TEST_PROXY_USER: pythontestproxy
          PYO_TEST_PROXY_PASSWORD: ${{ secrets.DPY_ORACLE_PASSWORD }}
          PYO_TEST_CONNECT_STRING: localhost/freepdb1
          PYO_TEST_ADMIN_USER: system
          PYO_TEST_ADMIN_PASSWORD: ${{ secrets.DPY_ORACLE_PASSWORD }}
          PYO_TEST_EDITION_NAME: pythoneditions
          LD_LIBRARY_PATH: ${{ env.LD_LIBRARY_PATH }}:${{ env.OIC_DIR }}
